<div class="wrapper">
  <div class="search-section">
    <form
      class="search-form"
      #f="ngForm"
      [formGroup]="urlForm"
      (ngSubmit)="findLinks()"
      ngNativeValidate
    >
      <div id="search-box">
        <mat-form-field color="accent">
          <mat-label>Enter URL or Search</mat-label>
          <input
            type="text"
            aria-label="Enter URL or Search"
            matInput
            formControlName="url"
            placeholder="Ex: https://x265lk.com/movies/tenet/"
            required
            (input)="search($event)"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete" [ngStyle]="{'background-color': '#424242'}">
            <mat-option
              (click)="clickOnAutoComplete(result.url)"
              *ngFor="let result of autoCompleteSearchResult"
              [value]="result.title"
              style="height: 90px"
            >
              <div class="result">
                <div class="img">
                  <img
                    class="example-option-img"
                    aria-hidden
                    [src]="result.img"
                    height="85"
                    width="60"
                  />
                </div>
                <div class="detail">
                  <div class="data">
                    <span>{{ result.title }}</span> |
                    <small>Year: {{ result.year }}</small> |
                    <small *ngIf="result.imdb">IMDb: {{ result.imdb }}</small> |
                  </div>
                  <div class="site">
                    <small> In {{ result.site }}</small>
                  </div>
                </div>
              </div>

            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <!--search-box div-->

      <div class="search-btn">
        <button
          mat-raised-button
          [disabled]="!urlForm.valid"
          color="accent"
          type="submit"
        >
          Find Links
        </button>
      </div>
      <!--search-btn div-->
    </form>
  </div>
  <!--search-section div-->

  <br/>
  <br/>
  <div [hidden]="!showProgressBar">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</div>
<!--wrapper div-->

<div class="select-section">
  <div *ngIf="status == 'movies'; then movie; else tv"></div>
  <ng-template #movie>
    <app-movies
      [docObjectMovie]="docObject"
      [showProgressBar]="showProgressBar"
    ></app-movies>
  </ng-template>

  <ng-template #tv>
    <div *ngIf="status == 'tvshows'; then tvshows"></div>
    <ng-template #tvshows>
      <app-series
        [docObjectTV]="docObject"
        [showProgressBar]="showProgressBar"
      ></app-series>
    </ng-template>
  </ng-template>
</div>
<!--select-section div-->
